body{
  display: flex;
  justify-content: center;
  background: #FFA07A;
}

#donut{
  position: relative;
  top:20px;
  height: 20px;
  width: 300px;
}

#donut-hole{
  background: white;
  padding: 20px;
  margin-bottom: 15px
}

ul {
  position: relative;
  margin-bottom: -5px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
}

a {
  text-decoration: none;
  background: #FFF;
  padding: 17px;
}

a:hover{
  background: #66CDAA;
}
